<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
        <link rel="icon" type="image/png" sizes="180x180" href={{ asset('image/favicon-32x32.png') }}>
        <link rel="stylesheet" type="text/css" href={{ asset('css/base.css') }} media="all" />
        <link rel="stylesheet" type="text/css" href={{ asset('css/nav_bar.css') }} media="all" />
        <link rel="stylesheet" type="text/css" href={{ asset('css/footer.css') }} media="all" />
        <link rel="stylesheet" type="text/css" href={{ asset('css/caroussel1.css') }} media="all" />
        <link rel="stylesheet" type="text/css" href={{ asset('css/caroussel2.css') }} media="all" />
        <link rel="stylesheet" type="text/css" href={{ asset('css/bandeau_promos.css') }} media="all" />
        <link rel="stylesheet" type="text/css" href={{ asset('css/home_index.css') }} media="all" />
        <link rel="stylesheet" type="text/css" href={{ asset('css/login.css') }} media="all" />

{#        <!-- Bootstrap core CSS -->#}
{#        <link href="css/bootstrap.min.css" rel="stylesheet">#}
{#        <!-- Material Design Bootstrap -->#}
{#        <link href="css/mdb.min.css" rel="stylesheet">#}
{#        <!-- Your custom styles (optional) -->#}
{#        <link href="css/style.css" rel="stylesheet">#}

{#        <!-- SCRIPTS -->#}
{#        <!-- JQuery -->#}
{#        <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>#}
{#        <!-- Bootstrap tooltips -->#}
{#        <script type="text/javascript" src="js/popper.min.js"></script>#}
{#        <!-- Bootstrap core JavaScript -->#}
{#        <script type="text/javascript" src="js/bootstrap.min.js"></script>#}
{#        <!-- MDB core JavaScript -->#}
{#        <script type="text/javascript" src="js/mdb.min.js"></script>#}

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

        <!--link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap-reboot.min.css"-->

{#        <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">#}
{#        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>#}
{#        <script src="semantic/dist/semantic.min.js"></script>#}
{#        <link rel = "stylesheet" type = "text / css" href = "sémantique / dist / semantic.min.css">#}
{#        <script src = "https://code.jquery.com/jquery-3.1.1.min .js "intégrité =" sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGGIZsDYGmIJLv2b8 = "crossorigin =" anonymous "></script>#}
{#        <script src =" sémantique / dist / semantic.min.js "></script>#}

        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}
    </head>

    {% block Flash_message %}
        {% for message in app.flashes('notice') %}
            <div class="flash-notice">
                {{ message }}
            </div>
        {% endfor %}
    {% endblock %}

    <body>

        <!--Quand l’utilisateur n’est pas loggué :-->

{#        {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}#}
{#            <div>#}
{#                <a  href="{{ path('app_register') }}">Register</a>#}
{#            </div>#}
{#        {% endif %}#}

        <!--scroll to top-->
        <div class="scroll-top-wrapper ">
            <span class="scroll-top-inner">
                <i class="fa fa-2x fa-arrow-circle-up"></i>
            </span>
        </div>

        <!--function scroll to top-->
        <script>
            $(document).ready(function(){
                $(function(){
                    $(document).on( 'scroll', function(){
                        if ($(window).scrollTop() > 100) {
                            $('.scroll-top-wrapper').addClass('show');
                        } else {
                            $('.scroll-top-wrapper').removeClass('show');
                        }
                    });
                    $('.scroll-top-wrapper').on('click', scrollToTop);
                });

                function scrollToTop() {
                    verticalOffset = typeof(verticalOffset) != 'undefined' ? verticalOffset : 0;
                    element = $('body');
                    offset = element.offset();
                    offsetTop = offset.top;
                    $('html, body').animate({scrollTop: offsetTop}, 500, 'linear');
                }
            });
        </script>

    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
    {% include 'footer.html.twig' %}

    </body>
</html>
