<!DOCTYPE html>
<html lang="en">

{#<head>#}
{#  <meta charset="utf-8">#}
{#  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">#}
{#  <meta http-equiv="x-ua-compatible" content="ie=edge">#}
{#  <title>{% block title %}Welcome!{% endblock %}</title>#}
{#  <!-- Font Awesome -->#}
{#  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">#}
{#  <!-- Bootstrap core CSS -->#}
{#  <link href="css/bootstrap.min.css" rel="stylesheet">#}
{#  <!-- Material Design Bootstrap -->#}
{#  <link href="css/mdb.min.css" rel="stylesheet">#}
{#  <!-- Your custom styles (optional) -->#}
{#  <link href="css/style.css" rel="stylesheet">#}
{#</head>#}

{#<body>#}

{#  <!-- Start your project here-->#}
{#  <div style="height: 100vh">#}
{#    <div class="flex-center flex-column">#}

{#      <h1 class="text-hide animated fadeIn mb-4"#}
{#        style="background-image: url('https://mdbootstrap.com/img/logo/mdb-transparent-250px.png'); width: 250px; height: 90px;">#}
{#        MDBootstrap</h1>#}
{#      <h5 class="animated fadeIn mb-3">Thank you for using our product. We're glad you're with us.</h5>#}

{#      <p class="animated fadeIn text-muted">MDB Team</p>#}
{#    </div>#}
{#  </div>#}
{#  <!-- Start your project here-->#}

{#  <!-- SCRIPTS -->#}
{#  <!-- JQuery -->#}
{#  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>#}
{#  <!-- Bootstrap tooltips -->#}
{#  <script type="text/javascript" src="js/popper.min.js"></script>#}
{#  <!-- Bootstrap core JavaScript -->#}
{#  <script type="text/javascript" src="js/bootstrap.min.js"></script>#}
{#  <!-- MDB core JavaScript -->#}
{#  <script type="text/javascript" src="js/mdb.min.js"></script>#}
{#</body>#}

{#</html>#}



{#<html>#}
{#<head>#}
{#  <meta charset="UTF-8">#}
{#  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">#}
{#  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">#}
{#  <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>#}
{#  <link rel="icon" type="image/png" sizes="180x180" href={{ asset('image/favicon-32x32.png') }}>#}
{#  <link rel="stylesheet" type="text/css" href={{ asset('css/base.css') }} media="all" />#}
{#  <link rel="stylesheet" type="text/css" href={{ asset('css/nav_bar.css') }} media="all" />#}
{#  <link rel="stylesheet" type="text/css" href={{ asset('css/footer.css') }} media="all" />#}
{#  <link rel="stylesheet" type="text/css" href={{ asset('css/caroussel1.css') }} media="all" />#}
{#  <link rel="stylesheet" type="text/css" href={{ asset('css/caroussel2.css') }} media="all" />#}
{#  <link rel="stylesheet" type="text/css" href={{ asset('css/bandeau_promos.css') }} media="all" />#}
{#  <link rel="stylesheet" type="text/css" href={{ asset('css/home_index.css') }} media="all" />#}
{#  <link rel="stylesheet" type="text/css" href={{ asset('css/login.css') }} media="all" />#}

{#  <!-- Bootstrap core CSS -->#}
{#  <link href="css/bootstrap.min.css" rel="stylesheet">#}
{#  <!-- Material Design Bootstrap -->#}
{#  <link href="css/mdb.min.css" rel="stylesheet">#}
{#  <!-- Your custom styles (optional) -->#}
{#  <link href="css/style.css" rel="stylesheet">#}

{#  <!-- SCRIPTS -->#}
{#  <!-- JQuery -->#}
{#  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>#}
{#  <!-- Bootstrap tooltips -->#}
{#  <script type="text/javascript" src="js/popper.min.js"></script>#}
{#  <!-- Bootstrap core JavaScript -->#}
{#  <script type="text/javascript" src="js/bootstrap.min.js"></script>#}
{#  <!-- MDB core JavaScript -->#}
{#  <script type="text/javascript" src="js/mdb.min.js"></script>#}

{#  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>#}
{#  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>#}
{#  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>#}
{#  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>#}

{#  <!--link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap-reboot.min.css"-->#}

{#  <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">#}
{#  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>#}
{#  <script src="semantic/dist/semantic.min.js"></script>#}
{#  <link rel = "stylesheet" type = "text / css" href = "sémantique / dist / semantic.min.css">#}
{#  <script src = "https://code.jquery.com/jquery-3.1.1.min .js "intégrité =" sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGGIZsDYGmIJLv2b8 = "crossorigin =" anonymous "></script>#}
{#  <script src =" sémantique / dist / semantic.min.js "></script>#}

{#<ul class="nav justify-content-end grey lighten-4 py-4" id="fix">#}
{#  <li class="nav-item">#}
{#    <a class="nav-link active" href="#!">Active</a>#}
{#  </li>#}
{#  <li class="nav-item">#}
{#    <a class="nav-link" href="#!">Link</a>#}
{#  </li>#}
{#  <li class="nav-item">#}
{#    <a class="nav-link" href="#!">Link</a>#}
{#  </li>#}
{#  <li class="nav-item">#}
{#    <a class="nav-link disabled" href="#!">Disabled</a>#}
{#  </li>#}
{#</ul>#}

<!--Main Navigation-->
<header>

  <nav class="nav justify-content-end grey lighten-4 py-4" id="fix">
    <a class="navbar-brand" href="#"><strong>Navbar</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Profile</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="view intro-2" style="">
    <div class="full-bg-img">
      <div class="mask rgba-purple-light flex-center">
        <div class="container text-center white-text wow fadeInUp">
          <h2>This Navbar is fixed and transparent</h2>
          <br>
          <h5>It will always stay visible on the top, even when you scroll down</h5>
          <p>Navbar's background will switch from transparent to solid color while scrolling down</p>
          <br>
          <p>Full page intro with background image will be always displayed in full screen mode, regardless of device </p>
        </div>
      </div>
    </div>
  </div>

</header>
<!--Main Navigation-->

<!--Main Layout-->
<main class="text-center py-5">

  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <p align="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      </div>
    </div>
  </div>

</main>
<!--Main Layout-->

<style>
  #fix{
    /*position: fixed;*/
    /*float: left;*/
  }
  .intro-2 {
    background: url("https://mdbootstrap.com/img/Photos/Others/img (40).jpg")no-repeat center center;
    background-size: cover;
  }

  .navbar {
    background-color: transparent;
  }

  .top-nav-collapse {
    background-color: #4285F4;
  }

  @media only screen and (max-width: 768px) {
    .navbar {
      background-color: #4285F4;
    }
  }
  html,
  body,
  header,
  .view {
    height: 100%;
  }
</style>
</html>