{% extends 'base.html.twig' %}

{% block title %}Agence index{% endblock %}

{% block body %}
{#    {% include 'nav_bar_anonyme.html.twig' %}#}
{#    {% include 'header_ano.html.twig'  %}#}

    <img src="{{ asset('image/agence.jpg') }}" width="100%" style="margin-top: -10%">

    <div class="row" style="width: 90%; margin-left: 2%; margin-bottom: 2%">
        <div class="col-sm-6" style="margin-top: -5%">
            <div class="card" style="width: 125%;">
                <div class="card-body">
                    <h5 class="card-title titre-card">Special title treatment</h5>
                    <p class="card-text text-card">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                    <p class="card-text text-card">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                    <a href="#" class="">Lire la suite ...</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6" style="margin-top: -5%">
            <div class="card" style="width: 90%; margin-left: 25%">
                <div class="card-body">
                    <h5 class="card-title titre-card">Special title treatment</h5>
                    <p class="card-text text-card">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                    <p class="card-text text-card">Lorem ipsum dolor sit amet, consectetur adipiscing elit ...</p>
                    <a href="#" class="">Lire la suite ...</a>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion" id="accordionExample" style="width: 90%; margin-left: 5%; margin-bottom: 2%">
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Voir le plan
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <h5 class="card-title titre-card">Trouver une agence</h5>
                    <div class="form-group">
                        <select class="form-control mySelect-agence" name="id_agence" id="conditionsselect1" required autofocus>
                            <option>
                                -- Selectionner un pays --
                            </option>
                            {% for agence in agences %}
                                <option value="{{ agence.id }}">
                                    {{ agence.pays|capitalize }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <select class="form-control mySelect-agence">
                            <option>
                                -- Selectionner une ville --
                            </option>
                            {% for agence in agences %}
                                <option value="{{ agence.id }}">
                                    {{ agence.ville|capitalize }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <select class="form-control mySelect-agence">
                            <option>
                                -- Selectionner un aéroport --
                            </option>
                            {% for agence in agences %}
                                <option value="{{ agence.id }}">
                                    {{ agence.aeroport|capitalize }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <a href="#" class="btn btn-primary">Trouver</a>

                    <div id="bruxelles">
                        <iframe id="inlineFrameExample"
                            title="Inline Frame Example"
                            width="300"
                            height="200"
                            src="https://www.openstreetmap.org/export/embed.html?bbox=-0.004017949104309083%2C51.47612752641776%2C0.00030577182769775396%2C51.478569861898606&layer=mapnik">
                        </iframe>
                    </div>
                    <div id="paris">
                        <iframe id="inlineFrameExample"
                                title="Inline Frame Example"
                                width="300"
                                height="200"
                                src="https://www.openstreetmap.org/export/embed.html?bbox=-0.004017949104309083%2C51.47612752641776%2C0.00030577182769775396%2C51.478569861898606&layer=mapnik">
                        </iframe>
                    </div>
                    <div id="charleroi">
                        <iframe id="inlineFrameExample"
                                title="Inline Frame Example"
                                width="600"
                                height="300"
                                src="https://umap.openstreetmap.fr/fr/map/carte-sans-nom_360825#15/50.8749/4.4756">
                        </iframe>
                    </div>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                </div>
            </div>
        </div>
    </div>

    <div style="margin-left: 5%">
        <b>Nos agences dans le monde</b>
    </div>
    <div style="width: 90%; margin-left: 5%; margin-bottom: 5%">
        <select class="form-control mySelect-agence">
            <option>
                -- Filtrer par pays --
            </option>
            {% for agence in agences %}
                <option value="{{ agence.id }}">
                    {{ agence.pays|capitalize }}
                </option>
            {% endfor %}
        </select>
        <a href="#" class="btn btn-primary">Trouver</a>
    </div>

    <style>

    </style>
{% endblock %}
