{% extends 'base.html.twig' %}

{% block title %}New Agence{% endblock %}

{% block body %}
{#    {% include 'header_cli.html.twig'  %}#}

    <head>

{#        <link href="{{ asset('dist/css/datepicker.min.css') }}" rel="stylesheet" type="text/css">#}
{#        <script src="{{ asset('dist/js/datepicker.min.js') }}"></script>#}

{#        <!-- Include French language -->#}
{#        <script src="{{ asset('dist/js/i18n/datepicker.fr.js') }}"></script>#}

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
        <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />

    </head>


{#    <h1>Create new Agence</h1>#}

{#    <div class="container">#}
{#        <input type='text' class="datepicker-here" data-position="right top" />#}
{#        <input id="datepicker" width="250" />#}
{#        <input id="timepicker" type="time" width="200" />#}
{#    </div>#}
{#    <script>#}
{#        // $('#sandbox-container input').datepicker({#}
{#        //     startDate: "today",#}
{#        //     format: "dd/mm/yyyy",#}
{#        //     language: "fr",#}
{#        //     todayHighlight: true#}
{#        // });#}
{#        $('#datepicker').datepicker({#}
{#            startDate: "today",#}
{#            format: "dd/mm/yyyy",#}
{#            language: "fr",#}
{#            todayHighlight: true#}
{#        });#}
{#        $('#timepicker').timepicker();#}
{#        // Initialization#}
{#        // $('#my-element').datepicker([options])#}
{#        // // Access instance of plugin#}
{#        // $('#my-element').data('datepicker')#}
{#    </script>#}

{#    {{ include('agence/_form.html.twig') }}#}

{#    <a href="{{ path('agence_index') }}">back to list</a>#}

        <form id="msform" class="login-form" method="post">
            <!-- progressbar -->
            <ul id="progressbar">
                <li class="active">temps de location</li>
                <li>Options supplémentaires</li>
                <li>Résumé</li>
            </ul>
            <!-- fieldsets -->
            <fieldset>
                <h2 class="fs-title">temps de location</h2>
                <h3 class="fs-subtitle" style="font-weight: bold">Etape 1</h3>
                <input type="text" name="email" placeholder="Email" />
                <div>
                    <div class="form-group">
                        <select class="custom-select-sm form-control" name="id_agence" id="conditionsselect1" required autofocus>
                            <option selected style="text-align: center">-- Selectionnez un lieu --</option>
                            {% for agence in tab_agences %}
                                <option value="{{ agence.id }}">
                                    {{ agence.ville|capitalize }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group" id="memeLigne">
                        <input placeholder="Select" title="date" type="date" id="datepicker1" class="custom-select-sm form-control datepicker" style="width: 59%" />
                        <input type="time" class="custom-select-sm form-control datepicker" id="timepicker1" name="usr_time" style="width: 37.8%;" value="" />
                    </div>
                    <div class="form-group" id="memeLigne">
                        <input placeholder="Select" title="date" type="date" id="datepicker2" class="custom-select-sm form-control datepicker" style="width: 59%" />
                        <input type="time" class="custom-select-sm form-control" id="timepicker2" name="usr_time" style="width: 37.8%" />
                    </div>
                    <div class="custom-control custom-checkbox" style="margin-left: -30%; margin-top: -6%;">
                        <input type="checkbox" class="custom-control-input" id="defaultUnchecked1" name="retour" />
                        <label class="custom-control-label text-res" for="defaultUnchecked1" style="font-size: 14px">Retour au même endroit</label>
                    </div>
                </div>
                <input type="button" name="next" class="next action-button" value="Next" />
            </fieldset>
            <fieldset>
                <h2 class="fs-title">Option supplémentaires</h2>
                <h3 class="fs-subtitle">Etape 2</h3>
                <div class="custom-control custom-checkbox" style="margin-left: 2%">
                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked2" name="option1" />
                    <label class="custom-control-label text-res" for="defaultUnchecked2" style="font-size: 14px">
                        Couverture dommages <span class="hide-show1"><b>| 3 euros</b></span>
                    </label>
                </div>
                <div class="custom-control custom-checkbox" style="margin-left: -18%; ">
                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked3" name="option2" />
                    <label class="custom-control-label text-res" for="defaultUnchecked3" style="font-size: 14px">
                        Couverture vol <span class="hide-show2" style=""><b>| 4 euros</b></span>
                    </label>
                </div>
                <div style="display:flex; margin-left: -77%">
                    <input type="radio" class="radio-inline" name="radio" id="PayOnline" style="margin-top: 1%" checked />
                    <label class="text" id="payOnline" for="PayOnline" style="margin-left: -46%">Payer en ligne</label>
                </div>
                <div style="display:flex; margin-left: -77%">
                    <input type="radio" class="radio-inline" style="" name="radio" id="PayAgence" style="margin-top: 1%" />
                    <label class="text" id="PayAgence" for="PayAgence" style="margin-left: -46%">Payer en agence</label>
                </div>
                <input type="button" name="previous" class="previous action-button" value="Previous" />
                <input type="button" name="next" class="next action-button" id="calcul" value="Next" />
            </fieldset>
            <fieldset>
                <h2 class="fs-title">Details de la reservation</h2>
                <h3 class="fs-subtitle">Etape 3</h3>
                <div id="details"></div>
                <input type="button" name="previous" class="previous action-button" value="Previous" />
                <input type="submit" name="submit" class="submit action-button" value="Submit" />
                <button class="btn btn-lg btn-primary" type="submit">Register</button>
            </fieldset>
        </form>

        <style>
            /*custom font*/
            @import url(https://fonts.googleapis.com/css?family=Montserrat);

            /*basic reset*/
            * {margin: 0; padding: 0;}


            /*form styles*/
            #msform {
                width: 400px;
                margin: 50px auto;
                text-align: center;
                position: relative;
            }
            #msform fieldset {
                background: white;
                border: 0 none;
                border-radius: 3px;
                box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
                padding: 20px 30px;
                box-sizing: border-box;
                width: 80%;
                margin: 0 10%;
                /*position: absolute;*/

                /*stacking fieldsets above each other*/
                position: relative;
            }
            /*Hide all except first fieldset*/
            #msform fieldset:not(:first-of-type) {
                display: none;
            }
            /*inputs*/
            #msform input, #msform textarea {
                padding: 15px;
                border: 1px solid #ccc;
                border-radius: 3px;
                margin-bottom: 10px;
                width: 100%;
                box-sizing: border-box;
                font-family: montserrat, serif;
                color: #2C3E50;
                font-size: 13px;
            }
            /*buttons*/
            #msform .action-button {
                width: 100px;
                /*background: #27AE60;*/
                background: #FF6F00 !important;
                font-weight: bold;
                color: white;
                border: 0 none;
                border-radius: 1px;
                cursor: pointer;
                padding: 10px 5px;
                margin: 10px 5px;
            }
            #msform .action-button:hover, #msform .action-button:focus {
                box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
            }
            /*headings*/
            .fs-title {
                font-size: 15px;
                text-transform: uppercase;
                color: #2C3E50;
                margin-bottom: 10px;
            }
            .fs-subtitle {
                font-weight: normal;
                font-size: 13px;
                color: #666;
                margin-bottom: 20px;
            }
            /*progressbar*/
            #progressbar {
                margin-bottom: 30px;
                overflow: hidden;
                /*CSS counters to number the steps*/
                counter-reset: step;
            }
            #progressbar li {
                list-style-type: none;
                color: black;
                text-transform: uppercase;
                font-size: 9px;
                font-weight: bold;
                width: 33.33%;
                float: left;
                position: relative;
            }
            #progressbar li:before {
                content: counter(step);
                counter-increment: step;
                width: 20px;
                line-height: 20px;
                display: block;
                font-size: 10px;
                color: #333;
                background: white;
                border-radius: 3px;
                margin: 0 auto 5px auto;
            }
            /*progressbar connectors*/
            #progressbar li:after {
                content: '';
                width: 100%;
                height: 2px;
                background: white;
                position: absolute;
                left: -50%;
                top: 9px;
                z-index: -1; /*put it behind the numbers*/
            }
            #progressbar li:first-child:after {
                /*connector not needed before the first step*/
                content: none;
            }
            /*marking active/completed steps green*/
            /*The number of the step and the connector before it = green*/
            #progressbar li.active:before,  #progressbar li.active:after{
                /*background: #27AE60;*/
                background: #FF6F00 !important;
                color: white;
            }
            .card-1{
                width: 35%;
                height: 46%;
                position: absolute;
                margin-left: 1%;
                margin-bottom: 5%;
                margin-top: 7%;
            }
            .card-2{
                width: 35%;
                height: 110%;
                margin-top: -28%;
                margin-bottom: 25%;
                /*position: absolute;*/
                margin-left: 64%;
            }
            .txt{
                padding: 4.25rem;
            }
        </style>

    <script>
        $(document).ready(function () {
            //jQuery time
            let current_fs, next_fs, previous_fs; //fieldsets
            let left, opacity, scale; //fieldset properties which we will animate
            let animating; //flag to prevent quick multi-click glitches

            $(".next").click(function(){
                if(animating) return false;
                animating = true;

                current_fs = $(this).parent();
                next_fs = $(this).parent().next();

                //activate next step on progressbar using the index of next_fs
                $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

                //show the next fieldset
                next_fs.show();
                //hide the current fieldset with style
                current_fs.animate({opacity: 0}, {
                    step: function(now, mx) {
                        //as the opacity of current_fs reduces to 0 - stored in "now"
                        //1. scale current_fs down to 80%
                        scale = 1 - (1 - now) * 0.2;
                        //2. bring next_fs from the right(50%)
                        left = (now * 50)+"%";
                        //3. increase opacity of next_fs to 1 as it moves in
                        opacity = 1 - now;
                        current_fs.css({
                            'transform': 'scale('+scale+')',
                            'position': 'absolute'
                        });
                        next_fs.css({'left': left, 'opacity': opacity});
                    },
                    duration: 800,
                    complete: function(){
                        current_fs.hide();
                        animating = false;
                    },
                    //this comes from the custom easing plugin
                    easing: 'easeInOutBack'
                });
            });

            $(".previous").click(function(){
                if(animating) return false;
                animating = true;

                current_fs = $(this).parent();
                previous_fs = $(this).parent().prev();

                //de-activate current step on progressbar
                $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

                //show the previous fieldset
                previous_fs.show();
                //hide the current fieldset with style
                current_fs.animate({opacity: 0}, {
                    step: function(now, mx) {
                        //as the opacity of current_fs reduces to 0 - stored in "now"
                        //1. scale previous_fs from 80% to 100%
                        scale = 0.8 + (1 - now) * 0.2;
                        //2. take current_fs to the right(50%) - from 0%
                        left = ((1-now) * 50)+"%";
                        //3. increase opacity of previous_fs to 1 as it moves in
                        opacity = 1 - now;
                        current_fs.css({'left': left});
                        previous_fs.css({'transform': 'scale('+scale+')', 'opacity': opacity});
                    },
                    duration: 800,
                    complete: function(){
                        current_fs.hide();
                        animating = false;
                    },
                    //this comes from the custom easing plugin
                    easing: 'easeInOutBack'
                });
            });

            $(".submit").click(function(){
                return false;
            });


            // $("#calcul").click(function () {

        });
    </script>
{% endblock %}
