{% extends 'base.html.twig' %}

{% block title %}Contrat index{% endblock %}

{% block body %}
    <h1>Contrat index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Num_contrat</th>
                <th>Date_retour_reelle</th>
                <th>Km_depart</th>
                <th>Km_retour</th>
                <th>Date_contrat</th>
                <th>Montant_tot_htva</th>
                <th>Montant_tot_tva</th>
                <th>Signe</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contrat in contrats %}
            <tr>
                <td>{{ contrat.id }}</td>
                <td>{{ contrat.numContrat }}</td>
                <td>{{ contrat.dateRetourReelle ? contrat.dateRetourReelle|date('Y-m-d') : '' }}</td>
                <td>{{ contrat.kmDepart }}</td>
                <td>{{ contrat.kmRetour }}</td>
                <td>{{ contrat.dateContrat ? contrat.dateContrat|date('Y-m-d') : '' }}</td>
                <td>{{ contrat.montantTotHtva }}</td>
                <td>{{ contrat.montantTotTva }}</td>
                <td>{{ contrat.signe ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('contrat_show', {'id': contrat.id}) }}">show</a>
                    <a href="{{ path('contrat_edit', {'id': contrat.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('contrat_new') }}">Create new</a>
{% endblock %}
