{% extends 'base.html.twig' %}

{% block title %}Facture index{% endblock %}

{% block body %}
    <h1>Facture index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Num_facture</th>
                <th>Libelle</th>
                <th>Date_facture</th>
                <th>Montant_total_htva</th>
                <th>Montant_total_tva</th>
                <th>Paye</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for facture in factures %}
            <tr>
                <td>{{ facture.id }}</td>
                <td>{{ facture.numFacture }}</td>
                <td>{{ facture.libelle }}</td>
                <td>{{ facture.dateFacture ? facture.dateFacture|date('Y-m-d') : '' }}</td>
                <td>{{ facture.montantTotalHtva }}</td>
                <td>{{ facture.montantTotalTva }}</td>
                <td>{{ facture.paye ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('facture_show', {'id': facture.id}) }}">show</a>
                    <a href="{{ path('facture_edit', {'id': facture.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('facture_new') }}">Create new</a>
{% endblock %}
